@import "../../styles/auth-form.scss";

.container {
    background-image: url(../../public/assets/images/modular-side-dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

    a {
        font-weight: bold;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
}
