@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

.authBakcground {
    @apply bg-auth bg-cover relative;
}

.authContainer {
    @apply relative flex justify-center items-stretch p-4 py-16 px-10 gap-10 bg-slate-500 bg-opacity-50;
}

.authForm {
    @apply relative w-full lg:w-2/6 flex justify-between flex-col border rounded-lg p-3 sm:p-10 shadow-lg items-center place-self-auto bg-slate-100 overflow-y-auto;
}

.authButton {
    @apply bg-red-600 w-full text-2xl ds-primary py-3 px-8 text-center hover:bg-slate-600 hover:text-white hover:cursor-pointer hover:shadow-lg rounded-lg shadow-gray-900 leading-10 hover:sm:scale-x-105 transition-transform duration-200 ease-in-out disabled:pointer-events-none;
}

.customTextInput {
    @apply w-full;
}

.authHaveAnAccount {
    @apply ml-2 font-bold;
}

/* Design system */
.ds-primary {
    @apply bg-slate-400 text-gray-900;
}
