@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SairaCondensed-Regular";
    src: url("../styles/fonts/SairaCondensed/SairaCondensed-Regular.ttf");
}
@font-face {
    font-family: "SairaCondensed-Black";
    src: url("../styles/fonts/SairaCondensed/SairaCondensed-Black.ttf");
}
@font-face {
    font-family: "SairaCondensed-Bold";
    src: url("../styles/fonts/SairaCondensed/SairaCondensed-Bold.ttf");
}
@font-face {
    font-family: "SairaCondensed-ExtraBold";
    src: url("../styles/fonts/SairaCondensed/SairaCondensed-ExtraBold.ttf");
}
@font-face {
    font-family: "SairaCondensed-ExtraLight";
    src: url("../styles/fonts/SairaCondensed/SairaCondensed-ExtraLight.ttf");
}
@font-face {
    font-family: "SairaCondensed-Light";
    src: url("../styles/fonts/SairaCondensed/SairaCondensed-Light.ttf");
}
@font-face {
    font-family: "SairaCondensed-Medium";
    src: url("../styles/fonts/SairaCondensed/SairaCondensed-Medium.ttf");
}
@font-face {
    font-family: "SairaCondensed-SemiBold";
    src: url("../styles/fonts/SairaCondensed/SairaCondensed-SemiBold.ttf");
}
@font-face {
    font-family: "SairaCondensed-Thin";
    src: url("../styles/fonts/SairaCondensed/SairaCondensed-Thin.ttf");
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

.authBakcground {
    @apply relative;
}

.authContainer {
    @apply relative flex justify-center py-16 px-4 lg:px-10 pt-0 gap-10 bg-opacity-50;
}

.authForm {
    @apply relative flex justify-between flex-col border rounded-lg p-3 sm:p-10 items-center;
}

.authButton {
    @apply w-full text-2xl bg-primary text-secondary py-3 px-8 text-center hover:bg-secondary hover:cursor-pointer hover:shadow-lg rounded-lg leading-10 hover:sm:scale-x-105 ease-in-out disabled:pointer-events-none;
}

.authHaveAnAccount {
    @apply ml-2 font-bold;
}

.navItems {
    @apply h-2/3 flex justify-center items-center p-3 hover:underline underline-offset-8 hover:scale-110 rounded-lg ease-in-out;
}

.flexCenter {
    @apply flex justify-center items-center;
}

.navIcons {
    @apply hover:scale-125 ease-in-out hover:cursor-pointer p-2;
}
