@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    display: table;
    width: 100%;
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    background: url("../public/assets/backgrounds/modular-side-dark.jpg");
    background-size: cover;
    color: #000;
    line-height: 1.6;
    position: relative;
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

.authBakcground {
    @apply relative;
}

.authContainer {
    @apply relative flex justify-center items-stretch p-4 py-16 px-10 gap-10 bg-opacity-50 h-screen;
}

.authForm {
    @apply relative w-full lg:w-2/6 flex justify-between flex-col border rounded-lg p-3 sm:p-10 items-center place-self-auto bg-offWhite overflow-y-auto shadow-black shadow-2xl;
}

.authButton {
    @apply w-full text-2xl bg-primary text-secondary py-3 px-8 text-center hover:bg-secondary hover:text-offWhite hover:cursor-pointer hover:shadow-lg rounded-lg shadow-gray-900 leading-10 hover:sm:scale-x-105 transition-transform duration-200 ease-in-out disabled:pointer-events-none;
}

.customTextInput {
    @apply w-full;
}

.authHaveAnAccount {
    @apply ml-2 font-bold;
}

.navItems {
    @apply h-2/3 flex justify-center items-center p-3 hover:text-offWhite hover:bg-secondary hover:scale-110 rounded-lg ease-in-out duration-200;
}

.flexCenter {
    @apply flex justify-center items-center;
}

.navIcons {
    @apply hover:scale-125 ease-in-out duration-200 hover:cursor-pointer hover:text-offWhite p-2;
}
